---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.vue';
import Hero from '../components/Hero.vue';
import Services from '../components/Services.vue';
import About from '../components/About.vue';
import Contact from '../components/Contact.vue';
import Footer from '../components/Footer.vue';
---

<Layout title="GS Online Solutions - Professional Accounting & Finance Solutions">
	<Header client:load />
	<main>
		<Hero client:load />
		<Services client:load />
		<About client:load />
		<Contact client:load />
	</main>
	<Footer client:load />
</Layout>
