// Min Width: 576px & Max width 767px //
@media only screen and (min-width: 576px) and (max-width: 767px) {
     //Industry CSS 
    .industry-card-wrap{
        &.style-one{
            .industry-category-card{
                width: calc(50% - 9px)!important;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .sm-none{
        display: none!important;
    }
    .fs-xx-14{
        font-size: 14px;
    }
    .fs-22{
        font-size: 20px;
    }
    .fs-24{
        font-size: 22px;
        line-height: 32px;
    }
    .fs-30{
        font-size: 25px;
        line-height: 35px;
    }
    .fs-32{
        font-size: 22px;
        line-height: 32px;
    }
    .fs-36{
        font-size: 28px;
    }
    .fs-40{
        font-size: 30px;
    }
    .fs-64{
        font-size: 44px;
    }
    .pt-50{
        padding-top: 30px;
    }
    .pt-100{
        padding-top: 30px;
    }
    .pt-95{
        padding-top: 35px;
    }
    .pt-115{
        padding-top: 55px;
    }
    .pt-120{
        padding-top: 60px;
    }
    .pb-90{
        padding-bottom: 30px;
    }
    .pb-95{
        padding-bottom: 35px;
    }
    .pb-120{
        padding-bottom: 60px;
    }
    .ptb-120{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .mtb-120{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .mb-120{
        margin-bottom: 60px;
    }
    .mb-sm-6{
        margin-bottom: 6px;
    }
    .mb-sm-10{
        margin-bottom: 10px;
    }
    .mb-sm-20{
        margin-bottom: 20px;
    }
    .mb-sm-25{
        margin-bottom: 25px;
    }
    .mb-sm-30{
        margin-bottom: 30px;
    }
    .mb-75,
    .mb-85{
        margin-bottom: 45px;
    }
    h1,h2,h3,h4,h5,h6{
        line-height: 1.5;
    }
    .section-title{
        &.style-one,
        &.style-two,
        &.style-three{
            font-size: 26px;
            line-height: 36px;
            &.mb-45,
            &.mb-40,
            &.mb-35{
                margin-bottom: 30px;
            }
        }
        &.style-one{
            small{
                min-width: 100%;
                width: 100%;
                max-height: auto;
                min-height: auto;
                font-size: 16px;
                display: block;
                margin-bottom: 10px;
            }
        }
    }
    .row{
        &.mb-65,
        &.mb-45,
        &.mb-40,
        &.mb-35{
            margin-bottom: 30px;
        }
    }
    .btn {
        .btn-icon-one,
        .btn-icon-two{
            width: 44px;
            height: 44px;
            img{
                max-width: 18px;
            }
        }
        .btn-icon-one{
            margin-right: -9px;
        }
        .btn-icon-two{
            margin-left: -44px;
        }
        .btn-text{
            font-size: 14px;
            height: 44px;
            padding: 5px 14px;
        }
        &:hover{
            .btn-icon-two{
                margin-left: -9px;
            }
            .btn-text{
                margin-left: -44px;
            }
        }
        &.style-three{
            .btn-icon-one,
            .btn-icon-two{
                img{
                    max-width: 19px;
                }
            }
            &:hover{
                .btn-icon-two{
                    margin-left: 0;
                }
                .btn-text{
                    margin-left: -44px;
                }
            }
        }
    }
    .progress-wrap {
        right: 10px;
        bottom: 15px;
    }
    .page-nav{
        li{
            a{
                width: 42px;
                height: 42px;
                font-size: 15px;
                i{
                    font-size: 23px;
                }
            }
        }
    }
    .slider-btn{
        &.style-one,
        &.style-two,
        &.style-three,
        &.style-four{
            .prev-btn,
            .next-btn{
                width: 44px;  
                height: 44px;
                img{
                    max-width: 17px;    
                }
                i{
                    font-size: 22px;
                }
            }
            .prev-btn{
                margin-right: 10px;
            }
        }
    }
    [data-cue] {
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }
    .breadcrumb-area{
        &.style-one{
            padding: 115px 0 60px;
            margin-top: -68px;
            .section-title{
                margin-bottom: 10px;
            }
        }
    }
    //Hero CSS 
    .hero-area{
        &.style-one{
            
            margin-top: -68px;
        }
        &.style-two{
            margin-top: -68px;
            padding: 120px 0 70px;
            .hero-content{
                margin-bottom: 30px;
                h1{
                    font-size: 32px;
                    line-height: 48px;
                }
                .hero-stat-wrapper{
                    .stat-card{
                        width: 100%;
                    }
                    .hero-para{
                        width: 100%;
                        margin: 20px 0 0;
                        p{
                            margin-bottom: 28px;
                        }
                    }
                }
            }
            .hero-bg{
                position: relative!important;
                width: 100%;
                margin: 30px 0 0;
            }
        }
         &.style-three{
            padding: 80px 0 50px;
            .hero-content{
                margin-bottom: 30px;
                .hero-para{
                    width: 100%;
                    margin: 10px 0 20px;
                }
                h1{
                    font-size: 32px;
                    line-height: 42px;
                }
            }
            .stat-card-wrap{
                .stat-card{
                    width: 100%;
                    margin-bottom: 25px;
                }
            }
        }
    }
    .hero-slide-item{
        &.style-one{
            padding: 110px 0 100px;
            .hero-shape{
                top: 45%;
                left: 5%;
                max-width: 120px;
            }
            .hero-content{
                h1{
                    font-size: 30px;
                    line-height: 44px;
                    margin-bottom: 30px;
                }
                .social-profile{
                    flex-direction: row!important;
                    justify-content: space-between;
                }
            }
            .stat-card{
                margin: 30px 0 25px;
            }
            .hero-para{
                width: 95%;
                margin: 0;
            }
        }
    }
    .hero-slider-one{
        .hero-pagination{
            bottom: 30px;
            left: 50%;
            .swiper-pagination-current{
                font-size: 40px;
            }
            .swiper-separator{
                font-size: 23px;
            }
            .swiper-pagination-total{
                font-size: 23px;
            }
        }
    }
    // About CSS
    .about-area{
        &.style-one{
            .about-content{
                h3{
                    font-size: 22px;
                    line-height: 31px;
                    margin-bottom: 20px;
                }
                .counter-card-wrap{
                    .counter-card{
                        width: 50%;
                        h4{
                            font-size: 44px;
                            span{
                                font-size: 44px;
                            }
                        }
                        span{
                            font-size: 14px;
                        }
                    }
                }
                .achievement-box{
                    padding: 30px 20px 30px 20px;
                    ul{
                        li{
                            font-size: 16px;
                            span{
                                width: calc(100% - 45px);
                                &:nth-child(2){
                                    width: 45px;
                                }
                            }
                        }
                    }
                }
                .founders-box{
                    padding: 30px 0 0;
                    h6{
                        font-size: 22px;
                        line-height: 32px;
                        padding: 0 25px;
                        margin-bottom: 20px;
                    }
                    .ceo-info-wrap{
                        padding: 0 20px 30px;
                        .ceo-img{
                            width: 65px;
                            height: 65px;
                        }
                        .ceo-info{
                            width: calc(100% - 75px);
                        }
                    }
                    .support-box{
                        padding: 25px 1px;
                    }
                }
            }
        }
        &.style-two {
            .about-content {
                padding: 20px 20px 0;
                .features-wrap {
                    .feature-img {
                        width: 100%;
                    }
                    .feature-info{
                        width: 100%;
                        margin: 20px 0 0;
                    }
                }
            }
            .about-img-wrap{
                h3{
                    padding: 30px 22px 0;
                }
                .about-img{
                    max-width: 80%;
                    left: -55px;
                }
            }
        }
        &.style-three{
            .about-img-text{
                padding-top: 35px;
                margin-top: 40px;
            }
            .about-content{
                padding-left: 15px;
                .section-title{
                    margin-bottom: 20px;
                }
                h6{
                    font-size: 20px;
                    line-height: 30px;
                    margin-bottom: 20px;
                    margin-left: 25px;
                }
                .btn{
                    margin-left: 25px;
                    margin-bottom: 30px;
                }
                .counter-card-wrap{
                    margin-bottom: -20px;
                    .counter-card{
                        width: 100%;
                        margin-bottom: 20px;
                        h4{
                            font-size: 40px;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
    .promo-card-wrap{
        &.style-one{
            padding: 35px 0 10px;
            .promo-card{
                width: 100%;

            }
        }
    }
    .promo-card{
        &.style-one{
            padding: 0;
            margin-bottom: 25px;
            span{
                width: 100%;
            }
            p{
                width: 100%;
                margin: 15px 0 0;
            }
        }
    }
   
    //Why Choose Us CSS
    .wh-card{
        &.style-one{
            padding: 25px 20px 30px;
        }
        &.style-two{
            padding: 25px 20px 20px;
            .rating-box{
                padding: 20px 15px 24px;
            }
        }
    }
    .wh-area{
        &.style-two{
            .wh-content{
                .feature-item-wrap{
                    .feature-item{
                        margin-bottom: 34px;
                        .feature-icon{
                            width: 45px;
                        }
                        .feature-info{
                            width: calc(100% - 65px);
                            padding-bottom: 32px;
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .wh-box{
        &.style-one{
            .wh-content{
                padding: 0 15px 20px 45px;
                .vertical-text{
                    font-size: 26px;
                    left: 8px;
                }
            }
            .wh-bg{
                border-radius: 0;
                img{
                    border-radius: 0;
                }
            }
            .wh-quote-box{
                border-radius: 0 0 20px 20px;
                padding: 20px;
            }
        }
    }
     //Move Text CSS
    .move-text{
        &.style-two {
            height: 40px;
            ul {
                li {
                    font-size: 30px;
                    margin: 0 16px 0 0;
                    padding-right: 35px;
                    &:after{
                        background-size: 20px;
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
        &.style-three {
            height: 70px;
            ul {
                li {
                    font-size: 30px;
                    margin: 0 16px 0 0;
                    padding-right: 35px;
                    &:after{
                        background-size: 20px;
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
    //Service CSS
    .service-slider-one{
        .slider-btn{
            .prev-btn,
            .next-btn{
                top: 60%;
            }
        }
    }
    .service-card{
        &.style-one {
            padding: 30px 22px 35px;
                transform: translateY(3px);
            h3 {
                margin: 35px 0 25px;
            }
            p {
                margin-bottom: 25px;
            }
            p,.btn{
                opacity: 1;
                visibility: visible;
            }
            &.active,
            &:hover{
                transform: translateY(0);
                h3{
                    margin: 35px 0 25px;
                }
                p,.btn{
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
     //Funfact CSS
    .funfact-wrap{
        &.style-one,
        &.style-two{
            .funfact-card{
                width: 50%;
                h4{
                    font-size: 40px;
                }
            }
        }
    }
    .funfact-card{
        &.style-one{
            padding-left: 0;
            &:before{
                display: none;  
            }
        }
    }
    //CTA CSS
    .cta-area{
        &.style-one{
            .cta-content{
                padding: 280px 0 55px;
            }
        }
    }
    //Industry CSS 
    .industry-card-wrap{
        &.style-one{
            column-gap: 0;
            .industry-category-card{
                width: 100%!important;
            }
        }
    }
    //FAQ CSS 
    .faq-area{
        &.style-one{
            .faq-content{
                padding: 60px 0 30px;
            }
            .faq-bg-wrap{
                .faq-contact-box{
                    left: 20px;
                    right: 20px;
                    bottom: 20px;
                    
                }
            }
        }
    }
    .accordion {
        &.style-one,
        &.style-two {
            .accordion-item {
                padding: 24px 0 20px 20px;
                .accordion-header {
                    .accordion-button {
                        padding: 0 45px 0 0;
                        .accord-arrow {
                            right: 20px;
                        }
                    }
                }
            }
        }
    }
    //Testimonial CSS 
    .testimonial-area{
        &.style-one{
            .testimonial-bg{
                height: 500px;
                .rating-box{
                    left: 15px;
                    bottom: 40px;
                    width: 235px;
                    padding: 23px 20px 22px 22px;
                }
            }
            .testimonial-content{
                padding: 30px 0 80px;
            }
        }
    }
     //Case CSS 
    .case-area{
        &.style-one{
            .case-bg-wrap{
                height: 400px;
            }
            .case-content{
                padding: 30px 15px 0;
                .case-slider-one{
                    .slider-btn{
                        margin-top: 20px;
                        width: 100%!important;
                    }
                }
            }
        }
    }
    .case-card{
        &.style-three {
            padding: 22px 22px 22px;
        }
    }
    //Promo CSS 
    .promo-area {
        &.style-one {
            .promo-bg {
                &:after {
                   
                    background-color: rgba(0, 37, 44, 0.6);
                    background: linear-gradient(270deg, rgba(0, 37, 44, 0.5) 32.62%, rgba(0, 37, 44, 0) 43.49%);
                }
            }
            .promo-box {
                width: 462px;
                border-radius: 20px 20px 0 0;
                padding: 39px 50px 90px;
                background: radial-gradient(
                    ellipse closest-side at 0.9% 2.98%, 
                    rgba(255, 255, 255, 0.4) 0%, 
                    rgba(255, 255, 255, 0.2) 100%
                );
                backdrop-filter: blur(6px);
                clip-path: polygon(0 0,
                        calc(100% - 135px) 0,
                        100% 185px,
                        100% 100%,
                        0 100%);

                .promo-list {
                    li {
                        margin-bottom: 35px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

        }
    }
    //Brand CSS
    .brand-logo-wrap{
        &.style-one{
            .brand-logo{
                border-bottom: 1px solid #d9d9d9;
            }
        }
        &.style-one,
        &.style-two{
            justify-content: center;
           .brand-logo{
                flex: 0 0 calc(100% / 2);
                min-height: 120px;
           }
        }
    }
    //Case Study CSS 
    .case-card{
        &.style-one{
            padding: 20px;
            .case-img{
                .case-counter{
                    top: 30px;
                    right: 25px;
                    font-size: 44px;
                }
            }
            .case-info{
                .job-info-wrap {
                    .employer-logo {
                        width: 80px;
                        height: 80px;
                    }
                    .job-info {
                        width: calc(100% - 95px);
                    }
                }
                .case-outcome-box{
                    padding: 25px;
                    .outcome-box{
                        padding: 17px 16px 17px 20px;
                    }
                }
            }
        }
    }
    //CTA Box CSS 
    .cta-box{
        &.style-one{
            padding: 34px 18px 26px;
            .btn-wrap{
                a{
                    margin-bottom: 14px;
                    &:first-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
    //Blog CSS 
    .blog-card-wrap{
        &.style-one{
            padding-left: 0;
            border-left: none;
             .blog-card{
                margin-bottom: 30px;
                padding-bottom: 25px;
                &:last-child{
                    padding-bottom: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
    .blog-card{
        &.style-two{
            .blog-img{
                .blog-category{
                    top: 15px;
                    left: 15px;
                }
                &:after{
                    background: linear-gradient(180deg, rgba(0, 37, 44, 0.75) 50%, #00252C 100%);
                }
            }
            .blog-info{
                padding: 15px 15px;
            }
        }
        &.style-four{
            .blog-img,
            .blog-info{
                width: 100%;
            }
            .blog-info{
                margin: 20px 0 0;
            }
        }
    }
    //Blog Details CSS
    .sidebar{
        .sidebar-widget{
            padding: 22px 20px 25px;
        }
    }
    //Category Widget CSS
    .category-widget{
        ul{
            li{
                margin-bottom: 16px;
                padding-bottom: 16px;
                &:last-child{
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        } 
    }
    .rp-post-card{
        .rp-post-img{
            width: 85px;
        }
        .rp-post-info{
            width: calc(100% - 100px);
        }
    }
    .blog-metainfo{
        &.style-three{
            li{
                margin-right: 11px;
                padding-right: 14px;
                &:last-child{
                    margin-right: 0;
                    padding-right: 0;
                }
            }
        }
    }
    .blog-desc,
    .service-desc,
    .career-desc,
    .case-desc,
    .terms-wrap{
        p {
            margin-bottom: 17px;
        }
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 28px;
        }
        h3{
            font-size: 26px;
        }
        h4{
            font-size: 24px;
        }
        h5{
            font-size: 22px;
        }
        h6{
            font-size: 20px;
        }
        p{
            &:last-child{
                margin-bottom: 0;
            }
        }
        ol{
            margin-top: 20px;
            margin-bottom: 30px;
            li{
                margin-bottom: 15px;
                padding-left: 3px;
            }
        }
        .wp-blockquote{
            padding: 26px 30px 32px 30px;
            p{
                margin-bottom: 40px;
            }
            h6{
                padding-left: 60px;
                font-size: 20px;
                &:before{
                    position: absolute;
                    top: 14px;
                    left: 0;
                    content: "";
                    width: 40px;
                    height: 1px;
                    background-color: var(--titleColor);
                }
            }
            span{
                padding-left: 60px;
            }
        }
        .single-para{
            margin-bottom: 35px;
            &:last-child{
                margin-bottom: 0;
            }
            p{
                margin-bottom: 16px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .features-list{
            &.style-one{
                margin-left: 12px;
                li{
                    padding-left: 18px;
                    margin-bottom: 8px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    &:before{
                        position: absolute;
                        top: 11px;
                        left: 0;
                        content: "";
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: var(--paraColor);
                    }
                }   
            } 
            &.style-two{
                li{
                    padding-left: 28px;
                    margin-bottom: 4px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    img,i{
                        position: absolute;
                        top: 8px;
                        left: 0;
                    }
                }   
            } 
        }
    }
    .blog-desc,
    .service-desc,
    .case-desc{
        .counter-card-wrap{
            justify-content: center;
            .counter-card{
                text-align: center;
                margin-bottom: 20px;
                width: 50%;
                h3{
                    font-size: 34px!important;
                    line-height: 1;
                    margin-bottom: 6px!important;
                }
                span{
                    font-size: 14px;
                }
            }
        }
    }
    .comment-item-wrap{
        .comment-item {
            padding: 26px 20px 30px;
            &.reply {
                margin-left: 30px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            .comment-author-info {
                width: 100%;
                margin:20px 0 0;
            }
            .comment-text {
                margin-bottom: 10px!important;
            }
        }
    }
    .contact-form{
        &.style-three{
            padding: {
                top: 30px;
                bottom: 30px;
                left: 22px;
                right: 22px;
            }
            .service-btn-wrap{
                .service-btn{
                    flex: auto;
                    margin-bottom: 15px;
                    cursor: pointer;
                    input{
                        display: none;
                    }
                    label{
                        font-size: 14px;
                        padding: 12px 10px;
                        cursor: pointer;
                    }
                    .custom-control-input:checked + label {
                        background-color: var(--secondaryColor);
                    }
                }
            }
        }
    }
    //Error CSS 
    .error-wrap {
        background-image: url(../img/error-bg.jpg);
        height: 100vh;
        .error-content{
            width: 100%;
            padding: 60px 25px;
        }
    }
}
// Max width 991px //
@media only screen and (max-width: 991px) {
    .md-none {
        display: none !important;
    }
    .mb-80{
        margin-bottom: 40px;
    }
    .mb-md-10{
        margin-bottom: 10px;
    }
    .mb-md-20{
        margin-bottom: 20px;
    }
    .mb-md-25{
        margin-bottom: 25px;
    }
    .mb-md-30{
        margin-bottom: 30px;
    }
    //hero CSS 
    .hero-area{
        &.style-two{
            .hero-bg{
                position: relative!important;
                background-image: url(../img/hero/hero-bg-5.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top center;
                height: 400px;
                width: 100%;
                margin: 30px 0 0;
            }
        }
    }
    //About CSS
    .about-area{
        &.style-one{
            .achievement-box{
                padding: 35px 25px 35px;
                box-shadow: 0 0 35px rgba(0,0,0,0.09);
            }
        }
    }
    //Industry Category CSS
    .industry-category-wrap{
        column-gap: 15px;
        margin: 0 0 -20px;
        a{
            margin-bottom: 20px;
        }
    }
    //FAQ CSS 
    .faq-area{
        &.style-one{
            .faq-bg-wrap{
                min-height: 450px;
            }
        }
    }
    //Career CSS
    .job-card{
        &.style-one{
            .job-info-wrap,
            .job-desc{
                width: 100%;
            }
            .job-info-wrap{
                .employer-logo{
                    width: 80px;
                    height: 80px;
                    padding: 15px;
                }
                .job-info{
                    width: calc(100% - 95px);
                }
            }
            .job-desc{
                margin: 25px 0 0;
            }
            .btn{
                margin-top: 25px;
            }
        }
    }
    //Contact CSS 
    .contact-address{
        &.style-one{
            .contact-icon{
                width: 55px;
                height: 55px;
            }
            p{
                width: calc(100% - 70px);
                line-height: 30px;
            }
        }
    }

}
// Min width 768px to Max width 991px //
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pt-50{
        padding-top: 30px;
    }
    .pt-100{
        padding-top: 30px;
    }
    .pt-95{
        padding-top: 55px;
    }
    .pt-115{
        padding-top: 75px;
    }
    .pt-120{
        padding-top: 80px;
    }
    .pb-90{
        padding-bottom: 50px;
    }
    .pb-95{
        padding-bottom: 55px;
    }
    .pb-120{
        padding-bottom: 80px;
    }
    .ptb-120{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .mtb-120{
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .mb-120{
        margin-bottom: 80px;
    }
    .fs-32{
        font-size: 24px;
        line-height: 33px;
    }
    .section-title{
        &.style-one,
        &.style-two,
        &.style-three{
            font-size: 32px;
            line-height: 42px;
        }
    }
    .breadcrumb-area{
        &.style-one{
            margin-top: -86px;
        }
    }
    //hero CSS 
    .hero-area{
        &.style-one{
            margin-top: -86px;
        }
        &.style-two{
            margin-top: -80px;
            padding: 120px 0 70px;
            .hero-content{
                margin-bottom: 30px;
            }
        }
         &.style-three{
            padding: 185px 0 80px;
            .hero-content{
                margin-bottom: 30px;
                .hero-para{
                    width: 80%;
                    margin-bottom: 30px;
                }
                h1{
                    font-size: 64px;
                    line-height: 78px;
                }
            }
        }
    }
     .hero-slide-item{
        &.style-one{
            padding: 160px 0 110px;
            .hero-shape{
                top: 45%;
                left: 5%;
                max-width: 300px;
            }
            .hero-content{
                h1{
                    font-size: 54px;
                    line-height: 70px;
                    margin-bottom: 30px;
                }
                .social-profile{
                    flex-direction: row!important;
                    li{
                        margin-right: 25px;
                    }
                }
            }
            .stat-card{
                margin: 30px 0 25px;
            }
            .hero-para{
                width: 75%;
                margin: 0;
            }
        }
    }
    .hero-slider-one{
        .hero-pagination{
            bottom: 30px;
        }
    }
    //Brand CSS
    .brand-logo-wrap{
        &.style-two{
            justify-content: center;
           .brand-logo{
            flex: 0 0 calc(100% / 3);
           }
        }
    }
    //Funfact CSS
    .funfact-wrap{
        &.style-one,
        &.style-two{
            .funfact-card{
                width: 50%;
            }
        }
    }
    //FAQ CSS 
    .faq-area{
        &.style-one{
            .faq-content{
                padding: 80px 0 30px;
            }
        }
    }
    //Case CSS 
    .case-area{
        &.style-one{
            .case-bg-wrap{
                height: 450px;
            }
            .case-content{
                padding: 30px 15px 0;
                .case-slider-one{
                    .slider-btn{
                        width: 100%!important;
                    }
                }
            }
        }
    }
    //Why Choose Us CSS 
    .wh-box{
        &.style-one{
            .wh-content{
                padding: 0 80px 20px;
                .vertical-text{
                    font-size: 34px;
                    left: 28px;
                }
            }
            .wh-bg{
                border-radius: 0;
                img{
                    border-radius: 0;
                }
            }
            .wh-quote-box{
                border-radius: 0 0 20px 20px;
            }
        }
    }
    //Testimonial CSS 
    .testimonial-area{
        &.style-one{
            .testimonial-bg{
                height: 600px;
            }
            .testimonial-content{
                padding: 30px 0 80px;
            }
        }
    }
}

// Min width 1199px //
@media only screen and (max-width: 1199px) {
    .mb-lg-20{
        margin-bottom: 20px;
    }
    .mb-lg-30{
        margin-bottom: 30px;
    }
    .mt-lg-50{
        margin-top: 50px;
    }
}
// Min width 768px //
@media only screen and (min-width: 768px) {
    .position-md-sticky{
        position: sticky;
        top: 100px;
    }
}

// Min width 768px to Max width 1199px //
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    //Promo CSS 
    .promo-card-wrap{
        &.style-one{
            .promo-card{
                width: 50%;
            }
        }
    }
    //Industry CSS 
    .industry-card-wrap{
        &.style-one{
            .industry-category-card{
                width: calc(33.33% - 9px);
            }
        }
    }
    //CTA CSS
    .cta-area{
        &.style-one{
            .cta-content{
                padding: 320px 0 75px;
            }
        }
    }
    //Move Text CSS
    .move-text{
        &.style-two {
            height: 65px;
            ul {
                li {
                    font-size: 60px;
                    margin: 0 25px 0 0;
                    padding-right: 55px;
                    &:after{
                        background-size: 30px;
                        height: 30px;
                        width: 30px;
                        transform: translteY(-50%);
                    }
                }
            }
        }
         &.style-three {
            height: 90px;
            ul {
                li {
                    font-size: 45px;
                    margin: 0 16px 0 0;
                    padding-right: 35px;
                    &:after{
                        background-size: 20px;
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
}
// Min width 768px //
@media only screen and (min-width: 992px) {
    //About CSS
    .about-area{
        &.style-one{
            .achievement-box{
                width: calc(100% + 340px);
                margin-left: -340px;
            }
        }
    }
    //Case Studies CSS
    .case-card{
        &.style-four{
            max-width: 80%;
            margin-left: auto;
        }
        &.style-five{
            max-width: 87%;
            margin-left: auto;
        }
        &.style-six{
            max-width: 87%;
            margin-right: auto;
        }
    } 
    .case-card-wrap{
        &.style-one{
            .case-card{
                position: sticky;
                top: 100px;
            }
        }
    }
}

// Min width 992px to Max width 1199px //
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .pt-100{
        padding-top: 70px;
    }
    .pt-95{
        padding-top: 75px;
    }
    .pt-115{
        padding-top: 95px;
    }
    .pt-120{
        padding-top: 100px;
    }
    .pb-90{
        padding-bottom: 70px;
    }
    .pb-95{
        padding-bottom: 75px;
    }
    .pb-120{
        padding-bottom: 100px;
    }
    .ptb-120{
        padding-top: 100px;
        padding-bottom: 100px;
    } 
    .mb-120{
        margin-bottom: 100px;
    } 
    .mtb-120{
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .fs-24{
        font-size: 22px;
    }
    .fs-32{
        font-size: 26px;
        line-height: 36px;
    }
    .container-fluid{
        &.style-one{
            padding-right: calc((100% - 960px) / 2 + 12px);
        }
        &.style-two{
            padding-left: calc((100% - 960px) / 2 + 12px);
        }
    }
    .section-title{
        &.style-one,
        &.style-two{
            font-size: 36px;
            line-height: 46px;
        }
    }
     //Hero CSS 
    .hero-area{
        &.style-two{
             padding: 185px 0 95px;
            .hero-bg{
                width: 43%;
            }
            .hero-content{
                h1{
                    font-size: 44px;
                    line-height: 60px;
                }
                .hero-para{
                    top: -8px;
                }
                .hero-stat-wrapper{
                    width: calc(100% + 45px);
                }
            }
            .contact-info{
                margin-bottom: -5px;
            }
        }
         &.style-three{
            padding: 235px 0 80px;
            .hero-content{
                .hero-para{
                    width: 80%;
                }
                h1{
                    font-size: 50px;
                    line-height: 63px;
                }
            }
            .stat-card-wrap{
                .stat-card{
                    width: 215px;
                    .client-list{
                        li{
                            width: 46px;
                            height: 46px;
                        }
                    }
                }
            }
        }
    }
    .hero-slide-item{
        &.style-one{
            padding: 220px 0 110px;
            .hero-shape{
                left: 10%;
                max-width: 400px;
            }
            .hero-content{
                h1{
                    font-size: 40px;
                    line-height: 58px;
                    margin-bottom: 125px;
                }
            }
            .hero-para{
                width: calc(100% - 35px);
            }
        }
    }
    .hero-slider-one{
        .hero-pagination{
            bottom: 50px;
        }
    }
    //Brand CSS
    .brand-logo-wrap{
        &.style-one{
           margin: 0 130px 0 0px
        }
    }
    //Testimonial CSS
    .testimonial-area{
        &.style-one{
            .testimonial-content{
                padding: 100px 0;
            }
        }
    }
}

// Min width 1200px //
@media only screen and (min-width: 1200px) {
    .container{
        &.style-two{
            max-width: 1170px;
        }
    }
    .w-xl-75{
        max-width: 75%;
    }
    .section-title{
        &.style-one{
            small{
                min-width: 330px;
            }
        }
    }
    .container-fluid{
        &.style-one{
            padding-right: calc((100% - 1170px) / 2 + 12px);
        }
        &.style-two{
            padding-left: calc((100% - 1170px) / 2 + 12px);
        }
    }
    //About CSS 
    .about-area{
        &.style-two{
            .about-img-wrap{
                .about-img{
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
}
// Min width 1200px Max width 1399px //
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    //Brand CSS
    .brand-logo-wrap{
        &.style-one{
           margin: 0 160px 0 98px
        }
    }
}
// Min width 1400px //
@media only screen and (min-width: 1400px) {
    .fs-xxl-18{
        font-size: 18px;
        line-height: 26px;
    }
    .fs-xxl-20{
        font-size: 20px;
        line-height: 30px;
    }
    .fs-xxl-24{
        font-size: 24px;
    }
    .w-xxl-50{
        max-width: 50%;
    }
    .container{
        &.style-one{
            max-width: 1330px;
        }
    }
    .container{
        &.style-two{
            max-width: 1370px;
        }
    }
    .container-fluid{
        &.style-one{
            padding-right: calc((100% - 1330px) / 2 + 12px);
        }
        &.style-two{
            padding-left: calc((100% - 1330px) / 2 + 12px);
        }
    }
    .section-title{
        &.style-three{
            font-size: 90px;
            line-height: 100px;
        }
    }
    .breadcrumb-area{
        &.style-one{
            padding: 232px 0 144px;
            .section-title{
                margin-bottom: 20px;
            }
        }
    }
    //Hero CSS 
    .hero-area{
        &.style-two{
            .hero-bg{
                width: 49%;
            }
            .hero-content{
                h1{
                    font-size: 56px;
                    line-height: 75px;
                }
                .hero-para{
                    top: -8px;
                }
                .hero-stat-wrapper{
                    width: calc(100% + 45px);
                }
            }
            .contact-info{
                margin-bottom: -5px;
            }
        }
         &.style-three{
            padding: 365px 0 115px;
            .hero-content{
                .hero-para{
                    width: 72%;
                }
                h1{
                    font-size: 64px;
                    line-height: 76px;
                }
            }
        }
    }
    .hero-slide-item{
        &.style-one{
            padding: 260px 0 80px;
            .hero-content{
                padding-right: 20px;
                h1{
                    font-size: 60px;
                    line-height: 80px;
                    margin-bottom: 200px;
                }
            }
        }
    }
    //About CSS 
    .about-area{
        &.style-one{
            .about-content{
                padding-left: 78px;
                .counter-card-wrap{
                    margin-bottom: 12px;
                }
                .achievement-box{
                    width: calc(100% + 445px);
                    margin-left: -445px;
                    padding: 45px 40px 50px 50px;
                }
                .founders-box{
                    padding: 45px 0 0;
                    h6{
                        padding: 0 30px;
                    }
                    .ceo-info-wrap{
                        padding: 0 30px 50px;
                    }
                    .support-box{
                        padding: 31px 1px;
                    }
                }
            }
        }
        &.style-two{
            .about-content{
                padding: 30px 30px 0;
                .about-card{
                    padding: 25px 25px 25px 30px;
                }
            }
            .about-img-wrap{
                h3{
                    padding: 47px 50px 0;
                }
            }
        }
        &.style-three{
            .about-content{
                padding-left: 66px;
                .section-title{
                    margin-bottom: 30px;
                }
                h6{
                    margin-bottom: 40px;
                    margin-left: 111px;
                }
                .btn{
                    margin-left: 111px;
                    margin-bottom: 80px;
                }
            }
        }
    }
    .promo-card{
        &.style-one{
            span{
                font-size: 40px;
            }
            p{
                max-width: 54%;
            }
        }
    }
    //Case Study CSS 
    .case-area{
        &.style-one{
            .case-bg-wrap{
                min-height: 892px;
            }
        }
    }
    .case-card{
        &.style-one{
            padding: 50px;
            .case-img{
                width: calc(100% - 52px);    
            }
            .case-info{
                width: calc(100% + 42px);
                margin-left: -40px;
                .case-outcome-box{
                    padding: 25px 25px;
                }
            }
        }
    }
    //Industry CSS 
    .industry-card-wrap{
        &.style-one{
            .industry-category-card{
                width: calc(16.66% - 9px);
            }
        }
    }
    //CTA CSS
    .cta-area{
        &.style-one{
            .cta-content{
                padding: 485px 0 120px;
            }
        }
    }
    //Service Card CSS
    .service-card{
        &.style-two{
            padding: 50px 30px 30px;
        }
        &.style-three{
            .service-info{
                padding: 21px 50px 50px;
            }
        }
    }
    //Why Choose Us CSS
    .wh-card{
        &.style-one{
            padding: 43px 30px 30px;
        }
        &.style-two{
            padding: 43px 30px 40px;
            .rating-box{
                padding: 25px 15px 22px;
            }
            .smiley-icon{
                padding: 0;
            }
        }
    }
    .wh-area{
        &.style-two{
            .wh-content{
                padding-left: 105px;
            }
        }
    }
    .wh-box{
        &.style-one{
            .wh-content{
                padding: 0 120px 0 135px;
            }
            .wh-qute-box{
                padding: 26px 63px 27px 67px;
            }
        }
    }
    //Brand CSS
    .brand-logo-wrap{
        &.style-one{
            margin: 0 184px 0 3px;
        }
    }
    //Pricing Card CSS 
    .pricing-card{
        &.style-one{
            padding: 45px 25px 35px 30px;
            .pricing-features{
                li{
                    padding-left: 32px;
                }
            }
        }
    }
    //Team Card CSS 
    .team-card{
        &.style-one{
            .team-img{
                .team-info{
                    padding: 0 28px 27px;
                }
            }
        }
    }
    //Testimonial CSS
    .testimonial-card{
        &.style-one{
            padding: 26px 25px 28px 30px;
            p{
                font-size: 18px;
                line-height: 26px;
            }
        }
    }
    //Industry Category CSS
    .industry-category-wrap{
        column-gap: 42px;
    }
    //Blog CSS 
    .blog-card{
        h3{
            font-size: 24px;
            line-height: 34px;
        }
        &.style-one{
            .blog-info{
                padding: 20px 30px 28px;
            }
        }
    }
    .blog-card-wrap{
        &.style-one{
            padding-left: 69px;
        }
    }
    //Contact Fomr CSS
    .contact-form{
        &.style-three{
            padding: {
                left: 100px;
                right: 100px;
            }
        }
    }
    //Blog Details CSS 
    .service-desc,
    .career-desc,
    .case-desc,
    .terms-wrap,
    .blog-desc{
        p{
            font-size: 18px;
            line-height: 30px;
        }
        ul,ol{
            li{
                font-size: 18px;
                line-height: 30px;
            }
        }
    }
    //Error CSS
    .error-wrap {
        .error-content{
            padding: 20px 130px;
            width: 50.5%;
        }
    }
}
// Min width 1600px //
@media only screen and (min-width: 1600px) {
    .gx-xxl-18 {
        --bs-gutter-x: 1.8rem;
    }
    .gx-xxl-24 {
        --bs-gutter-x: 2.4rem;
    }
    .ps-xxl-45 {
        padding-left: 4.5rem !important;
    }
    .ps-xxl-18{
        padding-left: 1.8rem !important;
    }
    .px-xxl-45 {
        padding-left: 4.5rem !important;
        padding-right: 4.5rem !important;
    }
    .container{
        &.style-two{
            max-width: 1530px;
        }
    }
    //Hero CSS 
    .hero-area{
        &.style-two{
            .hero-content{
                h1{
                    font-size: 62px;
                    line-height: 82px;
                }
                .hero-stat-wrapper{
                    width: calc(100% + 65px);
                }
            }
        }
        &.style-three{
            .hero-content{
                .hero-para{
                    width: 67%;
                }
                h1{
                    font-size: 80px;
                    line-height: 90px;
                }
            }
        }
    }
    .hero-slide-item{
        &.style-one{
            padding: 350px 0 110px;
            .hero-content{
                padding-right: 40px;
                h1{
                    font-size: 64px;
                    line-height: 84px;
                    margin-bottom: 235px;
                }
            }
            .hero-para{
                width: calc(100% - 168px);
                p{
                    margin-bottom: 42px;
                }
            }
        }
    }
    .hero-slider-one{
        .hero-pagination{
            bottom: 100px;
        }
    }
    //Case CSS 
    .case-area{
        &.style-one{
            .case-bg-wrap{
                width: calc(100% - 102px);
            }
        }
    }
    //Why Choose Us CSS 
    .wh-box{
        &.style-one{
            .wh-bg{
                width: calc(100% - 5px);
            }
            .wh-content{
                position: relative;
                top: -4px;
                .vertical-text{
                    left:50px;
                }
            }
            .wh-content,
            .wh-quote-box{
                width: calc(100% + 7px);
                margin-left: -7px;
            }
            .wh-quote-box{
                padding: 22px 56px 25px 65px;
            }
        }
    }
    //FAQ CSS
    .faq-area{
        &.style-one{
            .faq-bg-wrap{
                width: calc(100% - 75px);
                margin-left: auto;
            }
        }
    }
    //Industry CSS 
    .industry-card-wrap{
        &.style-one{
            .industry-category-card{
                width: calc(12.5% - 9px);
            }
        }
    }
    //Testimonial CSS
    .testimonial-area{
        &.style-one{
            .testimonial-bg{
                width: calc(100% + 38px);
                .rating-box{
                    left: 145px;
                }
            }
            .testimonial-content{
                width: calc(100% - 115px);
                margin-left: auto;
            }

        }
        &.style-two{
            .success-box{
                width: calc(100% - 68px);
            }
            .testimonial-slider-one{
                width: calc(100% + 68px);
                margin-left: -68px;
            }
        }
    }
    .success-box{
        &.style-one{
            padding: 25px 30px 26px;
        }
    }

}
// Min width 1920px //
@media only screen and (min-width: 1920px) {
    .container{
        &.style-two{
            max-width: 1630px;
        }
    }
    //Hero CSS 
    .hero-area{
        &.style-two{
            .hero-bg{
                height: calc(100% + 26px);
                top: -26px!important;
            }
            .hero-content{
                h1{
                    font-size: 64px;
                    line-height: 84px;
                }
                .hero-stat-wrapper{
                    width: calc(100% + 32px);
                }
            }
        }
        &.style-three{
            .hero-content{
                h1{
                    width: calc(100% + 35px);
                    font-size: 90px;
                    line-height: 100px;
                }
            }
            .hero-bg{
                padding-top: 35px;
                height: calc(100% + 25px)!important;
            }
        }
    }
    .hero-slide-item{
        &.style-one{
            .hero-content{
                padding-right: 80px;
            }
        }
    }
    //Promo CSS
    .promo-area{
        &.style-one{
            .container-fluid{
                padding-right: 150px;
            }
        }
    }
    .cta-area{
        &.style-two{
            .container-fluid{
                padding-right: 150px;
            }
        }
    }
    .promo-card-wrap{
        &.style-one{
            .promo-card{
                &:nth-child(2){
                    padding-left: 85px;
                }
                &:nth-child(3){
                    padding-left: 100px;
                }
            }
        }
    }
    //Case Study CSS
    .case-area{
        &.style-two{
            .container-fluid{
                max-width: 1920px;
                padding: 0 150px!important;
            }
        }
    }
    .funfact-area{
        &.style-one{
            .container-fluid{
                max-width: 1920px;
                padding: 0 150px!important;
            }
        }
    }
}